.myModal {
    position: fixed;
    inset: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.myModalContent {
    padding: 1.5rem;
    background: #d9d9d9;
    border-radius: 1rem;
    min-width: 15rem;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;

}