@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EA5959;
    height: 100vh;
    font-family: "Nunito", sans-serif;
}

.App {
    margin: calc(100vh * 0.16) calc(100vw * 0.16);
    background-color: #fff;
    position: absolute;
    inset: 0;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}

/*CATEGORIES*/

.categories {
    width: 21%;
    display: flex;
    flex-direction: column;
    border-right: solid 1px #D8D8D8;
    overflow-y: auto;
}

.categories__form {
    display: flex;
    margin: 25px 30px 0 30px;
}

.categories__form button {
    height: 28px;
    width: 38px;
    margin-left: auto;
}

.categories__form input {
    height: 28px;
    width: 70%;
}

.categories__list {
    margin: 15% 15%;
    list-style: none;
    flex-grow: 1;
}

.categories__list-item {
    user-select: none;
    font-size: 22px;
    font-weight: 400;
    color: #525252;
}

.selected {
    color: #EA5959;
    font-weight: 700;
}

.categories__list-item:hover {
    color: #EA5959;
    font-weight: 700;
    cursor: pointer;
}

.categories__list-item:not(:last-child) {
    margin-bottom: 24px;
}

.categories__list-item button {
    height: 28px;
    width: 28px;
}

.changeCategoryNameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*TASKS*/

.tasks {
    flex-grow: 1;
    padding: 30px 43px 50px 53px;
}

.tasks__title {
    margin-bottom: 25px;
    font-size: 31px;
    font-weight: 700;
}

/* Form */


.tasks__form {
    display: flex;
    margin-bottom: 35px;
}

/*LIST*/

.tasks__list {
    list-style: none;
    max-height: calc(100% - 100px);
    overflow-y: auto;
}

.tasks__list__item {
    background: #F3F3F3;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin-bottom: 1rem;
}

.tasks__list__item:hover {
    background: #e8e8e8;
}

.tasks__list__item.completed .tasks__list__item-title {
    text-decoration: line-through;
    color: #5a5a5a77;
}

.tasks__list__item-checkbox {
    appearance: none;

    margin-right: 16px;
    height: 28px;
    width: 28px;
    border-radius: 8px;
    border: 1px solid #EA5959;
    cursor: pointer;
}

.tasks__list__item-checkbox:checked {
    background-color: #EA5959;
    border-color: #3d1a1a;
}

.tasks__list__item-title {
    user-select: none;
    color: #5A5A5A;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.tasks__list__item button {
    margin-left: auto;
    height: 28px;
    width: 36px;
}
